Repository CDCgov/PyRenew: changes, and which pre-commit hooks are due for each by the changed paths.
All: generate-rst-placeholders, format-qmd-python

generate-rst-placeholders:
  name: Tutorials .rst placeholders
  entry: ./hook_scripts/pre-commit-rst-placeholder.sh
  language: script

format-qmd-python:
  name: Format Python in QMD
  entry: python hook_scripts/quarto_python_formatter.py "-q --line-length 79"
  language: python
  additional_dependencies:
  - black

Fix website render (#555)
  docs/source/conf.py
  docs/source/pyrenew_reference/additional.md
Due: none

`ruff` -> `ruff-check`
  .pre-commit-config.yaml
Due: none

`ruff` -> `ruff-check` (#562)
  .pre-commit-config.yaml
Due: none

DOC: Correct a typo: admisions -> admissions
  docs/source/tutorials/getting_started.qmd
Due: generate-rst-placeholders, format-qmd-python

DOC: Add ")" to close a parenthesis
  docs/source/tutorials/hospital_admissions_model.qmd
Due: generate-rst-placeholders, format-qmd-python

DOC: Add missing commas in math formulas
  pyrenew/math.py
Due: none

DOC: Remove an extra blank space
  pyrenew/math.py
Due: none

DOC: Correct some typos in PyRenew documentation (#564)
  docs/source/tutorials/getting_started.qmd
  docs/source/tutorials/hospital_admissions_model.qmd
  pyrenew/math.py
Due: generate-rst-placeholders, format-qmd-python

basic tutorial, align code, comment
  docs/source/tutorials/basic_renewal_model.qmd
Due: generate-rst-placeholders, format-qmd-python

undo
  docs/source/tutorials/basic_renewal_model.qmd
Due: generate-rst-placeholders, format-qmd-python

basic tutorial - align comments and code (#566)
  docs/source/tutorials/basic_renewal_model.qmd
Due: generate-rst-placeholders, format-qmd-python

Update uv.lock
  uv.lock
Due: none

Update uv.lock (#572)
  uv.lock
Due: none

basic renewal model edits
  docs/source/tutorials/basic_renewal_model.qmd
Due: generate-rst-placeholders, format-qmd-python

Update docs/source/tutorials/basic_renewal_model.qmd
  docs/source/tutorials/basic_renewal_model.qmd
Due: generate-rst-placeholders, format-qmd-python

changes per code review
  docs/source/tutorials/basic_renewal_model.qmd
Due: generate-rst-placeholders, format-qmd-python

only run 2 chains
  docs/source/tutorials/basic_renewal_model.qmd
Due: generate-rst-placeholders, format-qmd-python

pre-commit
  docs/developer_documentation.md
  docs/javascripts/mathjax.js
  docs/reference/index.md
  docs/stylesheets/extra.css
  mkdocs.yml
Due: none

hospital_admissions_model edits
  docs/source/tutorials/hospital_admissions_model.qmd
Due: generate-rst-placeholders, format-qmd-python

offline
  mkdocs.yml
Due: none

move docs to archive
  .pre-commit-config.yaml
  docs/source/tutorials/index.md
  docs_archive/.gitignore
  docs_archive/Makefile
  docs_archive/README.md
  docs_archive/make.bat
  docs_archive/source/_static/pyrenew.css
  docs_archive/source/conf.py
  docs_archive/source/developer_documentation.md
  docs_archive/source/general/ctoc.md
  docs_archive/source/index.md
  docs_archive/source/pyrenew_reference/additional.md
  docs_archive/source/pyrenew_reference/datasets.md
  docs_archive/source/pyrenew_reference/deterministic.md
  docs_archive/source/pyrenew_reference/distributions.md
  docs_archive/source/pyrenew_reference/index.md
  docs_archive/source/pyrenew_reference/latent.md
  docs_archive/source/pyrenew_reference/model.md
  docs_archive/source/pyrenew_reference/observation.md
  docs_archive/source/pyrenew_reference/process.md
  docs_archive/source/pyrenew_reference/randomvariable.md
  docs_archive/source/tutorials/.gitignore
  docs_archive/source/tutorials/basic_renewal_model.md
  docs_archive/source/tutorials/basic_renewal_model.qmd
  docs_archive/source/tutorials/day_of_the_week.md
  docs_archive/source/tutorials/day_of_the_week.qmd
  docs_archive/source/tutorials/extending_pyrenew.md
  docs_archive/source/tutorials/extending_pyrenew.qmd
  docs_archive/source/tutorials/getting_started.md
  docs_archive/source/tutorials/getting_started.qmd
  docs_archive/source/tutorials/hospital_admissions_model.md
  docs_archive/source/tutorials/hospital_admissions_model.qmd
  docs_archive/source/tutorials/index.md
  docs_archive/source/tutorials/periodic_effects.md
  docs_archive/source/tutorials/periodic_effects.qmd
  hook_scripts/pre-commit-md-placeholder.sh
Due: format-qmd-python

remove sphinx deps
  pyproject.toml
  uv.lock
Due: none

add mkdocs deps
  pyproject.toml
  uv.lock
Due: none

fix spacing in math and time
  pyrenew/math.py
  pyrenew/time.py
Due: none

mkdocs config
  mkdocs.yml
Due: none

fix docstrings
  pyrenew/observation/negativebinomial.py
  pyrenew/process/differencedprocess.py
  pyrenew/process/iidrandomsequence.py
  pyrenew/process/randomwalk.py
  pyrenew/randomvariable/distributionalvariable.py
  pyrenew/randomvariable/transformedvariable.py
Due: none

working docs
  docs/index.md
  docs/reference/arrayutils.md
  docs/reference/convolve.md
  docs/reference/datasets.md
  docs/reference/deterministic.md
  docs/reference/distributions.md
  docs/reference/distutil.md
  docs/reference/latent.md
  docs/reference/math.md
  docs/reference/metaclass.md
  docs/reference/model.md
  docs/reference/observation.md
  docs/reference/process.md
  docs/reference/randomvariable.md
  docs/reference/regression.md
  docs/reference/time.md
  docs/reference/transformation.md
  mkdocs.yml
  pyproject.toml
  uv.lock
Due: none

fix snippet
  docs/index.md
Due: none

mermaid
  .pre-commit-config.yaml
  mkdocs.yml
  pyproject.toml
  uv.lock
Due: none

defining custom RV tutorial
  docs/source/tutorials/extending_pyrenew.qmd
Due: generate-rst-placeholders, format-qmd-python

add back tutorials
  docs/tutorials/.gitignore
  docs/tutorials/basic_renewal_model.qmd
  docs/tutorials/day_of_the_week.qmd
  docs/tutorials/extending_pyrenew.qmd
  docs/tutorials/getting_started.qmd
  docs/tutorials/hospital_admissions_model.qmd
  docs/tutorials/periodic_effects.qmd
Due: format-qmd-python

make docs
  .github/workflows/website.yaml
  .pre-commit-config.yaml
  Makefile
  hook_scripts/pre-commit-md-placeholder.sh
Due: none

Support math
  mkdocs.yml
Due: none

remove archive
  docs_archive/.gitignore
  docs_archive/Makefile
  docs_archive/README.md
  docs_archive/make.bat
  docs_archive/source/_static/pyrenew.css
  docs_archive/source/conf.py
  docs_archive/source/developer_documentation.md
  docs_archive/source/general/ctoc.md
  docs_archive/source/index.md
  docs_archive/source/pyrenew_reference/additional.md
  docs_archive/source/pyrenew_reference/datasets.md
  docs_archive/source/pyrenew_reference/deterministic.md
  docs_archive/source/pyrenew_reference/distributions.md
  docs_archive/source/pyrenew_reference/index.md
  docs_archive/source/pyrenew_reference/latent.md
  docs_archive/source/pyrenew_reference/model.md
  docs_archive/source/pyrenew_reference/observation.md
  docs_archive/source/pyrenew_reference/process.md
  docs_archive/source/pyrenew_reference/randomvariable.md
  docs_archive/source/tutorials/.gitignore
  docs_archive/source/tutorials/basic_renewal_model.md
  docs_archive/source/tutorials/basic_renewal_model.qmd
  docs_archive/source/tutorials/day_of_the_week.md
  docs_archive/source/tutorials/day_of_the_week.qmd
  docs_archive/source/tutorials/extending_pyrenew.md
  docs_archive/source/tutorials/extending_pyrenew.qmd
  docs_archive/source/tutorials/getting_started.md
  docs_archive/source/tutorials/getting_started.qmd
  docs_archive/source/tutorials/hospital_admissions_model.md
  docs_archive/source/tutorials/hospital_admissions_model.qmd
  docs_archive/source/tutorials/index.md
  docs_archive/source/tutorials/periodic_effects.md
  docs_archive/source/tutorials/periodic_effects.qmd
Due: format-qmd-python

new dev group
  .github/workflows/deptry.yml
Due: none

Path conditions:
  generate-rst-placeholders: any of: docs/source/tutorials/.*\.qmd|rst
  format-qmd-python: any of: \.qmd$
