Repository CDCgov/PyRenew: changes, and which pre-commit hooks are due for each by the changed paths.
All: generate-rst-placeholders, format-qmd-python

generate-rst-placeholders:
  name: Tutorials .rst placeholders
  entry: ./hook_scripts/pre-commit-rst-placeholder.sh
  language: script

format-qmd-python:
  name: Format Python in QMD
  entry: python hook_scripts/quarto_python_formatter.py "-q --line-length 79"
  language: python
  additional_dependencies:
  - black

change default record to False in DeterministicVariable (#390)
  model/src/pyrenew/deterministic/deterministic.py
Due: none

Fix some tests, add dynamic versus static DistributionalRVs
  model/src/pyrenew/metaclass.py
  model/src/pyrenew/process/__init__.py
  model/src/pyrenew/process/differencedprocess.py
  model/src/pyrenew/process/iidrandomsequence.py
  model/src/pyrenew/process/randomwalk.py
  model/src/test/test_assert_sample_and_rtype.py
  model/src/test/test_assert_type.py
  model/src/test/test_differenced_process.py
  model/src/test/test_first_difference_ar.py
  model/src/test/test_forecast.py
  model/src/test/test_predictive.py
  model/src/test/test_random_key.py
  model/src/test/test_random_walk.py
  model/src/test/test_rtperiodicdiff.py
  model/src/test/test_transformed_rv_class.py
  model/src/test/utils.py
Due: generate-rst-placeholders

Split distributional RVs into static and dynamic
  model/src/pyrenew/metaclass.py
Due: none

Update DistributionalRV kwarg dist => distribution in all tests
  model/src/test/test_assert_sample_and_rtype.py
  model/src/test/test_assert_type.py
  model/src/test/test_forecast.py
  model/src/test/test_infection_seeding_process.py
  model/src/test/test_latent_admissions.py
  model/src/test/test_model_basic_renewal.py
  model/src/test/test_model_hosp_admissions.py
  model/src/test/test_predictive.py
  model/src/test/test_random_key.py
  model/src/test/test_random_walk.py
  model/src/test/test_transformed_rv_class.py
  model/src/test/utils.py
Due: none

update dist => distribution kwarg in DistributionalRV in all tutorials
  docs/source/tutorials/basic_renewal_model.qmd
  docs/source/tutorials/extending_pyrenew.qmd
  docs/source/tutorials/hospital_admissions_model.qmd
  docs/source/tutorials/periodic_effects.qmd
Due: generate-rst-placeholders, format-qmd-python

Add tests for DistributionalRV factory and classes
  model/src/test/test_distributional_rv.py
Due: none

Dynamic and static distributional rvs (#391)
  docs/source/tutorials/basic_renewal_model.qmd
  docs/source/tutorials/extending_pyrenew.qmd
  docs/source/tutorials/hospital_admissions_model.qmd
  docs/source/tutorials/periodic_effects.qmd
  model/src/pyrenew/metaclass.py
  model/src/test/test_assert_sample_and_rtype.py
  model/src/test/test_assert_type.py
  model/src/test/test_distributional_rv.py
  model/src/test/test_forecast.py
  model/src/test/test_infection_seeding_process.py
  model/src/test/test_latent_admissions.py
  model/src/test/test_model_basic_renewal.py
  model/src/test/test_model_hosp_admissions.py
  model/src/test/test_predictive.py
  model/src/test/test_random_key.py
  model/src/test/test_random_walk.py
  model/src/test/test_transformed_rv_class.py
  model/src/test/utils.py
Due: generate-rst-placeholders, format-qmd-python

Correcting installation instructions
  .pre-commit-config.yaml
  docs/source/tutorials/getting_started.qmd
Due: generate-rst-placeholders, format-qmd-python

Allow scalars to play better with scan, give more informative error messages for incompatible arrays in certain scan functions
  model/src/pyrenew/deterministic/deterministic.py
  model/src/pyrenew/metaclass.py
  model/src/pyrenew/model/rtinfectionsrenewalmodel.py
  model/src/pyrenew/process/differencedprocess.py
  model/src/pyrenew/process/iidrandomsequence.py
  model/src/pyrenew/process/randomwalk.py
  model/src/test/test_forecast.py
  model/src/test/test_latent_admissions.py
  model/src/test/test_latent_infections.py
  model/src/test/test_model_basic_renewal.py
  model/src/test/test_model_hosp_admissions.py
  model/src/test/test_predictive.py
  model/src/test/test_random_key.py
  model/src/test/test_random_walk.py
  model/src/test/utils.py
Due: none

Autoformat files
  model/src/test/test_random_walk.py
Due: none

add suffix
  model/src/pyrenew/metaclass.py
Due: none

fix clipped statement; example test that fails
  model/src/pyrenew/observation/negativebinomial.py
  model/src/pyrenew/observation/poisson.py
  model/src/test/test_observation_negativebinom.py
Due: none

Fix typo
  model/src/test/test_random_walk.py
Due: none

Refactor AR and update tests
  model/src/pyrenew/process/__init__.py
  model/src/pyrenew/process/ar.py
  model/src/pyrenew/process/differencedprocess.py
  model/src/pyrenew/process/iidrandomsequence.py
  model/src/pyrenew/process/rtperiodicdiff.py
  model/src/test/test_ar_process.py
Due: none

Refactor RtPeriodicDiff to use DifferencedProcess and ARProcess; delete unused manual AR function
  model/src/pyrenew/process/rtperiodicdiff.py
Due: none

Default names for now
  model/src/pyrenew/process/rtperiodicdiff.py
Due: none

Fundamental process init passthrough for differencedprocess, update tutorials
  docs/source/tutorials/basic_renewal_model.qmd
  docs/source/tutorials/extending_pyrenew.qmd
  docs/source/tutorials/hospital_admissions_model.qmd
  model/src/pyrenew/process/differencedprocess.py
  model/src/pyrenew/process/rtperiodicdiff.py
Due: generate-rst-placeholders, format-qmd-python

Update builtin.py
  model/src/pyrenew/transformation/builtin.py
Due: none

Ensure float in scaled logit constraint (#395)
  model/src/pyrenew/transformation/builtin.py
Due: none

add tests
  model/src/test/test_transformed_rv_class.py
Due: none

adding another test
  model/src/test/test_transformed_rv_class.py
Due: none

Fix typo in IIDRandomSequence class name, add test for class
  model/src/pyrenew/process/__init__.py
  model/src/pyrenew/process/iidrandomsequence.py
  model/src/pyrenew/process/randomwalk.py
  model/src/test/test_iid_random_sequence.py
Due: none

Apply suggestions from code review
  model/src/test/utils.py
Due: none

Reintroduce test_rtperiodicdiff, removing manual reconstruction test that did not use the sampling method
  model/src/test/test_rtperiodicdiff.py
Due: none

Coerce to 1d in the appropriate place in infectionswithfeedback
  docs/source/tutorials/extending_pyrenew.qmd
  model/src/pyrenew/latent/infectionswithfeedback.py
Due: generate-rst-placeholders, format-qmd-python

Reintroduce padding
  model/src/pyrenew/model/rtinfectionsrenewalmodel.py
Due: none

Coerce to array in tutorial
  docs/source/tutorials/extending_pyrenew.qmd
  model/src/pyrenew/latent/infectionswithfeedback.py
Due: generate-rst-placeholders, format-qmd-python

Fix tutorial bug
  docs/source/tutorials/extending_pyrenew.qmd
Due: generate-rst-placeholders, format-qmd-python

update test for un-named base rv
  model/src/test/test_transformed_rv_class.py
Due: none

Update model/src/pyrenew/process/differencedprocess.py
  model/src/pyrenew/process/differencedprocess.py
Due: none

Restore padding in test_model_basic_renewal
  model/src/test/test_model_basic_renewal.py
Due: none

Restore padding in test in a couple other places
  model/src/test/test_model_basic_renewal.py
Due: none

Apply suggestions from code review
  model/src/test/test_model_basic_renewal.py
Due: none

Convert sds to scalars in test ar process
  model/src/test/test_ar_process.py
Due: none

Rename PeriodicDiff classes to highlight that they are DiffAR processes
  docs/source/tutorials/periodic_effects.qmd
  model/src/pyrenew/process/__init__.py
  model/src/pyrenew/process/rtperiodicdiffar.py
  model/src/test/test_rtperiodicdiff.py
Due: generate-rst-placeholders, format-qmd-python

add test for un-named base rv of length 2
  model/src/pyrenew/metaclass.py
  model/src/test/test_transformed_rv_class.py
Due: none

remove pipeline folder
  .github/workflows/test_pipeline.yml
  pipeline/LICENSE
  pipeline/README.md
  pipeline/pipeline/__init__.py
  pipeline/pipeline/placeholder.py
  pipeline/pyproject.toml
  pipeline/tests/__init__.py
  pipeline/tests/test_placeholder.py
Due: none

remove pipeline folder (#397)
  .github/workflows/test_pipeline.yml
  pipeline/LICENSE
  pipeline/README.md
  pipeline/pipeline/__init__.py
  pipeline/pipeline/placeholder.py
  pipeline/pyproject.toml
  pipeline/tests/__init__.py
  pipeline/tests/test_placeholder.py
Due: none

Path conditions:
  generate-rst-placeholders: any of: docs/source/tutorials/.*\.qmd|rst
  format-qmd-python: any of: \.qmd$
