Repository CDCgov/PyRenew: changes, and which pre-commit hooks are due for each by the changed paths.
All: generate-rst-placeholders, format-qmd-python

.pre-commit-config.yaml:

repos:
  #####
  # Basic file cleanliness
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.5.0
    hooks:
      - id: check-added-large-files
      - id: check-yaml
      - id: check-toml
      - id: end-of-file-fixer
      - id: mixed-line-ending
      - id: trailing-whitespace
  #####
  # Python
  - repo: local
    hooks:
      - id: generate-rst-placeholders
        name: Tutorials .rst placeholders
        entry: ./hook_scripts/pre-commit-rst-placeholder.sh
        language: script
        files: 'docs/source/tutorials/.*\.qmd|rst'
  - repo: https://github.com/psf/black
    rev: 23.10.0
    hooks:
      - id: black
        args: ["--line-length", "79"]
  - repo: https://github.com/PyCQA/isort
    rev: 5.12.0
    hooks:
      - id: isort
        args: ["--profile", "black", "--line-length", "79"]
  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.1.0
    hooks:
      - id: ruff
  - repo: https://github.com/numpy/numpydoc
    rev: v1.7.0
    hooks:
      - id: numpydoc-validation
  #####
  # Quarto
  - repo: local
    hooks:
      - id: format-qmd-python
        name: Format Python in QMD
        entry: python hook_scripts/quarto_python_formatter.py "-q --line-length 79"
        language: python
        files: \.qmd$
        additional_dependencies: [black]
  #####
  # Secrets
  - repo: https://github.com/Yelp/detect-secrets
    rev: v1.4.0
    hooks:
      - id: detect-secrets
        args:
          [
            "--baseline",
            ".secrets.baseline",
            "--exclude-files",
            "model/docs/*_cache",
          ]
        exclude: package.lock.json
  ####
  # Typos
  - repo: https://github.com/crate-ci/typos
    rev: v1.20.0
    hooks:
      - id: typos
        args: ["--force-exclude"]

Reverting changegs
  model/src/pyrenew/deterministic/deterministic.py
  model/src/pyrenew/latent/hospitaladmissions.py
  model/src/pyrenew/latent/infection_initialization_process.py
  model/src/pyrenew/metaclass.py
  model/src/pyrenew/model/admissionsmodel.py
  model/src/pyrenew/model/rtinfectionsrenewalmodel.py
  model/src/pyrenew/process/rtperiodicdiff.py
  model/src/test/test_assert_sample_and_rtype.py
  model/src/test/test_assert_type.py
  model/src/test/test_deterministic.py
Due: none

Effect of size seven
  model/src/pyrenew/latent/hospitaladmissions.py
  model/src/test/test_model_hosp_admissions.py
Due: none

vectorization, plotting (unfinished), some diagnostics
  _typos.toml
  scratch/config/params_2024-01-20_historical.toml
  scratch/paste_bin.txt
  scratch/tut_epim_port_msr.py
Due: none

fix deptry
  scratch/tut_epim_port_msr.py
Due: none

Passing the SampledValue instead of array to LatentHosp
  model/src/pyrenew/latent/hospitaladmissions.py
  model/src/pyrenew/model/admissionsmodel.py
  model/src/test/test_latent_admissions.py
Due: none

Adding argument to specify start day of the data in hospadmissions + test
  model/src/pyrenew/latent/hospitaladmissions.py
  model/src/test/test_latent_admissions.py
Due: none

Removing default n_timepoints from repeat_until_n
  model/src/pyrenew/arrayutils.py
  model/src/test/test_broadcaster.py
Due: none

Reworking the tutorial (re-org)
  docs/source/tutorials/day_of_the_week.qmd
  model/src/pyrenew/latent/hospitaladmissions.py
Due: generate-rst-placeholders, format-qmd-python

Addressing comments by @dylanhmorris
  model/src/pyrenew/arrayutils.py
Due: none

Adding day of the week tutorial to the index
  docs/source/tutorials/index.rst
Due: generate-rst-placeholders

Undoing index (wrong pr)
  docs/source/tutorials/index.rst
Due: generate-rst-placeholders

Adding day of the week to the index
  docs/source/tutorials/index.rst
Due: generate-rst-placeholders

Removing old message
  docs/source/tutorials/day_of_the_week.qmd
Due: generate-rst-placeholders, format-qmd-python

Refactoring the periodic broadcaster and added warn + error + test (#349)
  docs/source/tutorials/periodic_effects.qmd
  docs/source/tutorials/time.qmd
  model/src/pyrenew/arrayutils.py
  model/src/pyrenew/process/periodiceffect.py
  model/src/pyrenew/process/rtperiodicdiff.py
  model/src/test/test_broadcaster.py
  model/src/test/test_periodiceffect.py
Due: generate-rst-placeholders, format-qmd-python

post dhm edits and comments
  scratch/config/params_2024-01-20_historical.toml
  scratch/tut_epim_port_msr.py
Due: none

proper pre-obs
  scratch/config/params_2024-01-20_historical.toml
  scratch/paste_bin.txt
  scratch/tut_epim_port_msr.py
Due: none

synth data + forecast + comments
  scratch/config/params_2024-01-20_historical.toml
  scratch/paste_bin.txt
  scratch/tut_epim_port_msr.py
Due: none

more posterior plots
  docs/source/tutorials/hosp_only_ww_model.qmd
  docs/source/tutorials/hosp_only_ww_model.rst
Due: generate-rst-placeholders, format-qmd-python

more posterior plots
  docs/source/tutorials/hosp_only_ww_model.qmd
Due: generate-rst-placeholders, format-qmd-python

fix t_pre_init
  model/src/pyrenew/model/hosp_only_ww_model.py
Due: none

Update infectionswithfeedback.py
  model/src/pyrenew/latent/infectionswithfeedback.py
Due: none

adjust t_pre_init for experimentation
  model/src/pyrenew/model/hosp_only_ww_model.py
Due: none

save latent infections for debug
  model/src/pyrenew/model/hosp_only_ww_model.py
Due: none

save rtu for debugging
  model/src/pyrenew/model/hosp_only_ww_model.py
Due: none

more rtu observations
  docs/source/tutorials/hosp_only_ww_model.qmd
  model/src/test/test_rtperiodicdiff.py
Due: generate-rst-placeholders, format-qmd-python

shared default rt across tests
  model/src/test/test_forecast.py
  model/src/test/test_latent_admissions.py
  model/src/test/test_latent_infections.py
  model/src/test/test_model_basic_renewal.py
  model/src/test/test_model_hosp_admissions.py
  model/src/test/test_predictive.py
  model/src/test/test_random_key.py
  model/src/test/utils.py
Due: none

update formatting and deptry ignore rule
  .github/workflows/deptry.yml
  model/src/test/utils.py
Due: none

replace jax.random.PRNGKey with jax.random.key
  docs/source/tutorials/basic_renewal_model.qmd
  docs/source/tutorials/hospital_admissions_model.qmd
Due: generate-rst-placeholders, format-qmd-python

replace jax.random.PRNGKey with jax.random.key (#373)
  docs/source/tutorials/basic_renewal_model.qmd
  docs/source/tutorials/hospital_admissions_model.qmd
Due: generate-rst-placeholders, format-qmd-python

name change and include arg for name
  model/src/test/test_forecast.py
  model/src/test/test_latent_admissions.py
  model/src/test/test_latent_infections.py
  model/src/test/test_model_basic_renewal.py
  model/src/test/test_model_hosp_admissions.py
  model/src/test/test_predictive.py
  model/src/test/test_random_key.py
  model/src/test/utils.py
Due: none

attempt additional plotting and saving
  scratch/config/params_2024-01-20_historical.toml
  scratch/header_p2.txt
  scratch/paste_bin.txt
  scratch/template.md
  scratch/tut_epim_port_msr.py
Due: none

create and use default rt across tests (#372)
  .github/workflows/deptry.yml
  model/src/test/test_forecast.py
  model/src/test/test_latent_admissions.py
  model/src/test/test_latent_infections.py
  model/src/test/test_model_basic_renewal.py
  model/src/test/test_model_hosp_admissions.py
  model/src/test/test_predictive.py
  model/src/test/test_random_key.py
  model/src/test/utils.py
Due: none

slight changes DHM meeting
  model/src/pyrenew/regression.py
  scratch/tut_epim_port_msr.py
Due: none

change predictor_value to an argument
  model/src/pyrenew/regression.py
Due: none

update tests
  model/src/test/test_regression.py
Due: none

Add de-differencing helper and tests
  model/src/pyrenew/process/__init__.py
  model/src/pyrenew/process/differencedprocess.py
  model/src/pyrenew/process/firstdifferencear.py
  model/src/pyrenew/process/randomwalk.py
  model/src/test/test_differenced_process.py
Due: generate-rst-placeholders

Apply suggestions from code review
  model/src/pyrenew/regression.py
Due: none

Addressing comments by @damonbayer
  docs/source/tutorials/day_of_the_week.qmd
  model/src/pyrenew/latent/hospitaladmissions.py
  model/src/test/test_latent_admissions.py
Due: generate-rst-placeholders, format-qmd-python

Replace fori_loop with scan
  model/src/pyrenew/process/differencedprocess.py
Due: none
