Repository CDCgov/PyRenew: changes, and which pre-commit hooks are due for each by the changed paths.
All: generate-rst-placeholders, format-qmd-python

generate-rst-placeholders:
  name: Tutorials .rst placeholders
  entry: ./hook_scripts/pre-commit-rst-placeholder.sh
  language: script

format-qmd-python:
  name: Format Python in QMD
  entry: python hook_scripts/quarto_python_formatter.py "-q --line-length 79"
  language: python
  additional_dependencies:
  - black

Update pyrenew/process/rtperiodicdiffar.py
  pyrenew/process/rtperiodicdiffar.py
Due: none

Remove shape assertions
  pyrenew/process/ar.py
Due: none

Document broadcasting
  pyrenew/process/ar.py
Due: none

Fix backtick typo
  pyrenew/process/ar.py
Due: none

use list comprehension in test_infectionsrtfeedback
  test/test_infectionsrtfeedback.py
Due: none

revert to using for loop
  test/test_infectionsrtfeedback.py
Due: none

Add passing plate test
  test/test_scan_rv_plate_compatibility.py
Due: none

Vectorize `ARProcess()` (#439)
  pyrenew/process/ar.py
  pyrenew/process/iidrandomsequence.py
  pyrenew/process/rtperiodicdiffar.py
  pyrenew/randomvariable/distributionalvariable.py
  test/test_ar_process.py
  test/test_differenced_process.py
  test/test_iid_random_sequence.py
  test/test_scan_rv_plate_compatibility.py
Due: none

add more test for convolve scanner functions
  pyrenew/latent/infections.py
  pyrenew/latent/infectionswithfeedback.py
  test/test_convolve_scanners.py
Due: none

add check for initial infections and Rt ndims
  pyrenew/latent/infections.py
  pyrenew/latent/infectionswithfeedback.py
Due: none

remove typos and superfluous print statements
  pyrenew/latent/infectionswithfeedback.py
  test/test_infection_functions.py
Due: none

add more tests
  test/test_infectionsrtfeedback.py
Due: none

change value of inf_feedback in tests to cover diff scenarios
  test/test_infectionsrtfeedback.py
Due: none

add input array tests for infections.py
  test/test_infectionsrtfeedback.py
Due: none

add test with plate
  pyrenew/latent/infectionswithfeedback.py
  test/test_infection_and_infectionwithfeedback.py
  test/test_infectionsrtfeedback.py
  test/test_infectionwithfeedback_plate_compatibility.py
Due: none

add multidim array convention in dev documentation
  docs/source/developer_documentation.rst
Due: generate-rst-placeholders

formatting
  docs/source/developer_documentation.rst
Due: generate-rst-placeholders

multidimensional array convention (#445)
  docs/source/developer_documentation.rst
Due: generate-rst-placeholders

remove instances of spread draws
  docs/source/tutorials/day_of_the_week.qmd
  test/test_model_basic_renewal.py
  test/test_model_hosp_admissions.py
Due: generate-rst-placeholders, format-qmd-python

code review changes
  pyrenew/latent/infectionswithfeedback.py
  test/test_convolve_scanners.py
  test/test_infectionsrtfeedback.py
Due: none

code review suggestion
  docs/source/tutorials/extending_pyrenew.qmd
  test/test_arrayutils.py
Due: generate-rst-placeholders, format-qmd-python

replace jnp.dot with einsum
  pyrenew/convolve.py
Due: none

code review suggestions
  pyrenew/convolve.py
  pyrenew/latent/infections.py
  pyrenew/latent/infectionswithfeedback.py
  test/test_infection_and_infectionwithfeedback.py
Due: none

Vectorized differenced process that passes all relevant existing tests
  pyrenew/math.py
  pyrenew/process/differencedprocess.py
  test/test_differenced_process.py
  test/test_integrate_discrete.py
Due: none

Add multidimensional test for integrate_discrete, fix bug in integrate_discrete() function caught by that test
  pyrenew/math.py
  test/test_integrate_discrete.py
Due: none

move integrate_one_step outside of integrate_discrete, improve batch shape determination and associated error messages, add manually computed tests in multiple dimensions
  pyrenew/math.py
  test/test_integrate_discrete.py
Due: none

Add tests for integrator shape validation
  pyrenew/math.py
  test/test_integrate_discrete.py
Due: none

code review changes
  pyrenew/latent/infectionswithfeedback.py
  test/test_infection_and_infectionwithfeedback.py
  test/test_infectionsrtfeedback.py
Due: none

update infectionswithfeedback process (#440)
  docs/source/tutorials/extending_pyrenew.qmd
  pyrenew/arrayutils.py
  pyrenew/convolve.py
  pyrenew/latent/infections.py
  pyrenew/latent/infectionswithfeedback.py
  test/test_arrayutils.py
  test/test_convolve_scanners.py
  test/test_infection_functions.py
  test/test_infectionsrtfeedback.py
  test/test_infectionwithfeedback_plate_compatibility.py
Due: generate-rst-placeholders, format-qmd-python

Document scan conventions in developer_documentation.rst
  docs/source/developer_documentation.rst
Due: generate-rst-placeholders

Autoformat files
  docs/source/developer_documentation.rst
Due: generate-rst-placeholders

Formatting tweaks
  docs/source/developer_documentation.rst
Due: generate-rst-placeholders

More formatting tweaks
  docs/source/developer_documentation.rst
Due: generate-rst-placeholders

Update developer_documentation.rst
  docs/source/developer_documentation.rst
Due: generate-rst-placeholders

Fix quotation
  docs/source/developer_documentation.rst
Due: generate-rst-placeholders

Document `scan` conventions in `developer_documentation.rst` (#448)
  docs/source/developer_documentation.rst
Due: generate-rst-placeholders

Remove gvegayon from CODEOWNERS
  .github/CODEOWNERS
Due: none

Remove gvegayon from CODEOWNERS (#449)
  .github/CODEOWNERS
Due: none

Update pyrenew/process/differencedprocess.py
  pyrenew/process/differencedprocess.py
Due: none

Restore differencing order validation and associated tests
  pyrenew/process/differencedprocess.py
  test/test_differenced_process.py
Due: none

Path conditions:
  generate-rst-placeholders: any of: docs/source/tutorials/.*\.qmd|rst
  format-qmd-python: any of: \.qmd$
