Repository CDCgov/PyRenew: changes, and which pre-commit hooks are due for each by the changed paths.
All: generate-rst-placeholders, format-qmd-python

generate-rst-placeholders:
  name: Tutorials .rst placeholders
  entry: ./hook_scripts/pre-commit-rst-placeholder.sh
  language: script

format-qmd-python:
  name: Format Python in QMD
  entry: python hook_scripts/quarto_python_formatter.py "-q --line-length 79"
  language: python
  additional_dependencies:
  - black

This commit should fail
  docs/source/tutorials/time.rst
Due: generate-rst-placeholders

Try fix regex again
  .pre-commit-config.yaml
Due: none

This should succeed
  docs/source/tutorials/.gitignore
  docs/source/tutorials/basic_renewal_model.qmd
  docs/source/tutorials/basic_renewal_model.rst
  docs/source/tutorials/time.rst
Due: generate-rst-placeholders, format-qmd-python

This should fail
  docs/source/tutorials/basic_renewal_model.rst
Due: generate-rst-placeholders

Test
  docs/source/tutorials/basic_renewal_model.rst
Due: generate-rst-placeholders

Test commit
  docs/source/tutorials/basic_renewal_model.rst
Due: generate-rst-placeholders

Always run hook, but silently
  .pre-commit-config.yaml
  hook_scripts/pre-commit-rst-placeholder.sh
Due: generate-rst-placeholders

Should fail
  docs/source/tutorials/basic_renewal_model.rst
Due: generate-rst-placeholders

Should succeed
  .pre-commit-config.yaml
  docs/source/tutorials/basic_renewal_model.rst
Due: generate-rst-placeholders

logging and reorganizing
  scratch/tut_epim_port_msr.py
Due: none

Test commit
  .pre-commit-config.yaml
Due: none

run website CI on all PRs, not just those targeting the default branch (#363)
  .github/workflows/website.yaml
Due: none

Revert removal of counter
  hook_scripts/pre-commit-rst-placeholder.sh
Due: generate-rst-placeholders

Fix placeholder `rst` hook bugs (#365)
  .pre-commit-config.yaml
  docs/source/tutorials/.gitignore
  hook_scripts/pre-commit-rst-placeholder.sh
Due: generate-rst-placeholders

Remove unnecessary second post-process
  .github/workflows/website.yaml
Due: none

Revert _typos.toml
  _typos.toml
Due: none

reorder build job to fix bug
  .github/workflows/website.yaml
Due: none

Revert basic_renewal_model.qmd
  docs/source/tutorials/basic_renewal_model.qmd
Due: generate-rst-placeholders, format-qmd-python

Addressing comments by @damonbayer and adding tests with offset
  docs/source/tutorials/time.qmd
  model/src/pyrenew/arrayutils.py
  model/src/test/test_broadcaster.py
Due: generate-rst-placeholders, format-qmd-python

Build job also needs quarto now
  .github/workflows/website.yaml
Due: none

Fix quarto invocation
  .github/workflows/website.yaml
Due: none

modify obs
  scratch/paste_bin.txt
  scratch/tut_epim_port_msr.py
Due: none

Add print debug
  .github/workflows/website.yaml
Due: none

Reorder things to avoid potential overwrites
  .github/workflows/website.yaml
Due: none

Move up a directory
  .github/workflows/website.yaml
Due: none

More checks along the way
  .github/workflows/website.yaml
Due: none

See if this is a quarto overwrite problem
  .github/workflows/website.yaml
Due: none

Remove print debug steps
  .github/workflows/website.yaml
Due: none

remove caching from rendering job
  .github/workflows/website.yaml
Due: none

Update developer_documentation.rst
  docs/source/developer_documentation.rst
Due: generate-rst-placeholders

Bullet points to headers
  docs/source/developer_documentation.rst
Due: generate-rst-placeholders

correct subheading rst
  docs/source/developer_documentation.rst
Due: generate-rst-placeholders

dhm comments; samples working; still some bugs w/ step size
  scratch/config/params_2024-01-20.toml
  scratch/tut_epim_port_msr.py
Due: none

fix deptry
  pyproject.toml
Due: none

refactor website generation (#367)
  .github/workflows/website.yaml
  docs/source/tutorials/Makefile
Due: none

More verbose description of RV naming
  docs/source/developer_documentation.rst
Due: generate-rst-placeholders

Fix formatting
  docs/source/developer_documentation.rst
Due: generate-rst-placeholders

More formatting fixes
  docs/source/developer_documentation.rst
Due: generate-rst-placeholders

add docs, try getting validate, NamedTuple
  scratch/config/params_2024-01-20.toml
  scratch/paste_bin.txt
  scratch/tut_epim_port_msr.py
Due: none

Path conditions:
  generate-rst-placeholders: any of: docs/source/tutorials/.*\.qmd|rst
  format-qmd-python: any of: \.qmd$
