Repository CDCgov/PyRenew: changes, and which pre-commit hooks are due for each by the changed paths.
All: generate-rst-placeholders, format-qmd-python

.pre-commit-config.yaml:

repos:
  #####
  # Basic file cleanliness
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.5.0
    hooks:
      - id: check-added-large-files
      - id: check-yaml
      - id: check-toml
      - id: end-of-file-fixer
      - id: mixed-line-ending
      - id: trailing-whitespace
  #####
  # Python
  - repo: local
    hooks:
      - id: generate-rst-placeholders
        name: Tutorials .rst placeholders
        entry: ./hook_scripts/pre-commit-rst-placeholder.sh
        language: script
        files: 'docs/source/tutorials/.*\.qmd|rst'
  - repo: https://github.com/psf/black
    rev: 23.10.0
    hooks:
      - id: black
        args: ["--line-length", "79"]
  - repo: https://github.com/PyCQA/isort
    rev: 5.12.0
    hooks:
      - id: isort
        args: ["--profile", "black", "--line-length", "79"]
  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.1.0
    hooks:
      - id: ruff
  - repo: https://github.com/numpy/numpydoc
    rev: v1.7.0
    hooks:
      - id: numpydoc-validation
  #####
  # Quarto
  - repo: local
    hooks:
      - id: format-qmd-python
        name: Format Python in QMD
        entry: python hook_scripts/quarto_python_formatter.py "-q --line-length 79"
        language: python
        files: \.qmd$
        additional_dependencies: [black]
  #####
  # Secrets
  - repo: https://github.com/Yelp/detect-secrets
    rev: v1.4.0
    hooks:
      - id: detect-secrets
        args:
          [
            "--baseline",
            ".secrets.baseline",
            "--exclude-files",
            "model/docs/*_cache",
          ]
        exclude: package.lock.json
  ####
  # Typos
  - repo: https://github.com/crate-ci/typos
    rev: v1.20.0
    hooks:
      - id: typos
        args: ["--force-exclude"]

adopt new var names
  pyrenew/convolve.py
Due: none

fix var names
  pyrenew/convolve.py
Due: none

fix docstring
  pyrenew/convolve.py
Due: none

update n_initialization_points
  docs/source/tutorials/day_of_the_week.qmd
  docs/source/tutorials/hospital_admissions_model.qmd
  test/test_model_hosp_admissions.py
Due: generate-rst-placeholders, format-qmd-python

Update pyrenew/convolve.py
  pyrenew/convolve.py
Due: none

Test convolve mode in hospitaladmissionspy (#398)
  docs/source/tutorials/day_of_the_week.qmd
  docs/source/tutorials/hospital_admissions_model.qmd
  pyrenew/convolve.py
  pyrenew/latent/hospitaladmissions.py
  test/test_incidence_observed_with_delay.py
  test/test_latent_admissions.py
  test/test_model_hosp_admissions.py
Due: generate-rst-placeholders, format-qmd-python

pre-commit changes
  pyrenew/latent/hospitaladmissions.py
  test/test_model_hosp_admissions.py
Due: none

update metaclass.py
  pyrenew/metaclass.py
Due: none

add randomvariable.rst
  docs/source/msei_reference/index.rst
  docs/source/msei_reference/randomvariable.rst
Due: generate-rst-placeholders

create `randomvariable` module (#412)
  docs/source/msei_reference/index.rst
  docs/source/msei_reference/randomvariable.rst
  docs/source/tutorials/basic_renewal_model.qmd
  docs/source/tutorials/day_of_the_week.qmd
  docs/source/tutorials/extending_pyrenew.qmd
  docs/source/tutorials/hospital_admissions_model.qmd
  docs/source/tutorials/periodic_effects.qmd
  pyrenew/metaclass.py
  pyrenew/process/iidrandomsequence.py
  pyrenew/process/randomwalk.py
  pyrenew/randomvariable/__init__.py
  pyrenew/randomvariable/distributionalvariable.py
  pyrenew/randomvariable/transformedvariable.py
  test/test_assert_sample_and_rtype.py
  test/test_assert_type.py
  test/test_differenced_process.py
  test/test_distributional_rv.py
  test/test_forecast.py
  test/test_iid_random_sequence.py
  test/test_infection_initialization_process.py
  test/test_latent_admissions.py
  test/test_model_basic_renewal.py
  test/test_model_hosp_admissions.py
  test/test_predictive.py
  test/test_random_key.py
  test/test_random_walk.py
  test/test_transformed_rv_class.py
  test/utils.py
Due: generate-rst-placeholders, format-qmd-python

Update README.md
  README.md
Due: none

Fix README numpyro link formatting in RST version (#416)
  README.md
Due: none

find_heuristic_step_size defaults True
  pyrenew/metaclass.py
Due: none

Set `find_heuristic_step_size` Default To `True` (#417)
  pyrenew/metaclass.py
Due: none

cleanup names
  docs/source/tutorials/periodic_effects.qmd
  pyrenew/process/rtperiodicdiffar.py
  test/test_rtperiodicdiff.py
Due: generate-rst-placeholders, format-qmd-python

Remove RtWeeklyDiffARProcess
  docs/source/tutorials/periodic_effects.qmd
  pyrenew/process/__init__.py
  pyrenew/process/rtperiodicdiffar.py
  test/test_rtperiodicdiff.py
Due: generate-rst-placeholders, format-qmd-python

Update pyproject.toml
  pyproject.toml
Due: none

Use dev version of numpyro (#421)
  pyproject.toml
Due: none

Remove redundant jnp.array in ar.py
  pyrenew/process/ar.py
Due: none

Remove redundant `jnp.array` in ar.py (#424)
  pyrenew/process/ar.py
Due: none

Fix docstring and error message typos in distributionalvariable.py
  pyrenew/randomvariable/distributionalvariable.py
Due: none

Make IID random sequence have arbitrary shape
  pyrenew/process/iidrandomsequence.py
Due: none

Revert incorrect change
  pyrenew/process/iidrandomsequence.py
Due: none

Add test for StandardNormalSequence with configurable shape
  test/test_iid_random_sequence.py
Due: none

add censored normal dist
  pyrenew/metaclass.py
  test/test_censorednormal.py
Due: none

run pre-commit and add tests
  pyrenew/metaclass.py
  test/test_censorednormal.py
Due: none

naming changes
  test/test_censorednormal.py
Due: none

create distribution module
  docs/source/msei_reference/distributions.rst
  pyrenew/distributions/__init__.py
  pyrenew/distributions/censorednormal.py
  pyrenew/metaclass.py
  test/test_censorednormal.py
Due: generate-rst-placeholders

pre-commit changes
  pyrenew/distributions/censorednormal.py
Due: none

modify README with instantiated models
  README.md
Due: none

remove mcmcutils file; remove spread from tutorials
  docs/source/tutorials/day_of_the_week.qmd
  pyrenew/mcmcutils.py
  pyrenew/metaclass.py
Due: generate-rst-placeholders, format-qmd-python

near final README update with models
  README.md
Due: none

Modify README With Instantiated Model Information (#430)
  README.md
Due: none

work in progress
  pyrenew/latent/infection_initialization_method.py
  scratch/plate_init_demo.py
Due: none

updated demo with easier data
  scratch/plate_init_demo.py
Due: none

dynamic support initialization
  pyrenew/distributions/censorednormal.py
Due: none
